<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%= title %></title>
</head>
<body>
  <main class="container" >
    <div class="paper">
      <div class="pin pin-left"></div>
      <div class="pin pin-right"></div>
      <div class="paper-content">
        <div class="box">
          <% if (showHeader) { %>
          <div class="header-info">
            <div class="photo">
              <img src="<%= headerInfo.photo %>" alt="photo" width="100%" height="auto">
            </div>
            <div class="name"><%= headerInfo.name %></div>
            <div class="contact">
              <div class="contact-item"><%= headerInfo.phone %></div>
              <div class="contact-item"><%= headerInfo.email %></div>
            </div>
          </div>
          <% } %>
          <div id="markdown-body">
            <%- markdown %>
          </div>
        </div>
      </div>
    </div>
    <div class="stick d-print-none">
      <div class="content">
        如何导出简历？<br/>
        1）右键选择“打印” <br/>
        2）目标打印机设置为“另存为PDF”
      </div>
    </div>
  </main>
  <footer class="d-print-none footer">
    Powered by <a href="https://github.com/BigLiao/markCV" class="link">markCV</a>
  </footer>
</body>
</html>
